body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #f3ec78, #af4261);
}

.container {
  text-align: center;
  padding: 2rem;
}

h1 {
  color: #fff;
}

p {
    color: #fff;
}

.counter {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  font-size: 6rem;
  font-weight: 600;
  color: #333;
}
